#-------------------------------------------------------------------------
# .gitignore (ignore = 無視する)
#
# gitで管理しないファイルを設定するためのもの。
# Visual Studioで開発すると、無駄に謎のファイルの変更履歴が沢山出て邪魔なため
# それらのファイルは無視してください、という設定をするところ。
#-------------------------------------------------------------------------

# 不要なファイルを除外
.vs/
Debug/
Release/

# dataは共有しない
Data/